{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="card">
    <h2>Login</h2>
    <form method="post" action="/login">
        <!-- Username -->
        <label for="username">Username</label>
        <input type="text" id="username" name="username" 
               placeholder="Enter your username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9_]+$"
               title="Username can only contain letters, numbers, and underscores." required>

        <!-- Password -->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" 
               placeholder="Enter your password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{6,20}$"
               title="Password must be 6-20 characters, include letters and numbers." required>

        <!-- Login button -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form><br>

    <!-- Extra links -->
    <div class="link">
        <a href="/forgot-password">Forgot Password?</a>
    </div>
    <div class="link"><br>
        Don't have an account? <a href="/signup">Signup</a>
    </div>
</div>

{% endblock %}
