{% extends "base.html" %}
{% include "messages.html" %}
{% block title %}Verify OTP{% endblock %}
{% block content %}
<div class="card">
    <h2>Verify OTP</h2>
    <form action="/verify-otp" method="post">
        <input type="hidden" name="option" value="{{ option }}">
        <input type="hidden" name="identifier" value="{{ identifier }}">
        <h3>An OTP has been sent to your email</h3>
        <label for="otp">Enter OTP</label>
        <input type="text" name="otp" id="otp" required>

        <button type="submit" class="btn btn-primary">Verify</button>
    </form>
</div>
{% endblock %}
